@import "../variables";
@import "../mixin";
@import "../animation";

@keyframes fadeInUpImg {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.main__card-current {
  grid-column: 1;
  grid-row: 1;
  background: var(--current-block-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  @include box-shadow-card;
  @include fadeInUpCard;

  .current__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .current__header-text {
      display: flex;
      flex-direction: row;
      gap: 7px;
      opacity: 0;
      transform: translate(-5px, 0);
      @include fadeInUp(0.2s);
      .lucide-map-pin {
        color: $blue-neon;
        position: relative;
        top: 2px;
      }
      .current__header-location {
        font-weight: 400;
        font-size: 18px;
        color: var(--color-icon);
      }
    }
    .current__header-wrap {
      transition: transform 0.6s ease;
      .current__header-image {
        animation: fadeInUpImg 0.5s cubic-bezier(0.25,0.46,0.45,0.94) forwards;
        filter: var(--color-icon-filter);
      }
      .current__header-image.animation {
        @include spin();
      }
    }
    .current__header-wrap:hover {
      transform: scale(1.4);
      transition-delay: 0.2s;
    }

  }

  .current__body {
    opacity: 0;
    @include fadeInUp(0.2s);
    height: 230px;
    display: flex;
    align-content: center;
    justify-content: center;
    .current__body-text {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      .current__body-temp {
        text-align: center;
        font-weight: 400;
        font-size: 64px;
        color: #7B68EE;
        @include pulse(3s, 1.05);
      }
      .current__body-condition {
        text-align: center;
        color: var(--color-text);
        font-weight: 400;
        font-size: 20px;
      }
      .current__body-feel {
        text-align: center;
        color: var(--color-text);
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .current__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    .current__info-humidity {
      opacity: 0;
      transform: translate(-25px, 10px);
      @include fadeInUp(0s);
      @include current-info;
      .humidity-logo {
        @include current-info-icon;
      }
      .humidity-logo:hover {
        transform: rotate(360deg);
        transition-delay: 0.2s;
      }
      .humidity__block {
        @include current-info-block;
        .humidity__text {
          color: var(--color-text);
          font-size: 11px;
        }
      }
    }
    .current__info-humidity:hover {
      transform: scale(1.04);
      transition-delay: 0.2s;
    }
    .current__info-wind {
      opacity: 0;
      transform: translate(-25px, 10px);
      @include fadeInUp(0.1s);
      @include current-info;
      .wind-logo {
        @include current-info-icon;
      }
      .wind-logo:hover {
        transform: rotate(360deg);
        transition-delay: 0.2s;
      }
      .windy__block {
        @include current-info-block;
        .wind__text {
          color: var(--color-text);
          font-size: 11px;
        }
      }
    }
    .current__info-wind:hover {
      transform: scale(1.04);
      transition-delay: 0.2s;
    }
    .current__info-pressure {
      opacity: 0;
      transform: translate(-25px, 10px);
      @include fadeInUp(0.2s);
      @include current-info;
      .pressure-logo {
        @include current-info-icon;
      }
      .pressure-logo:hover {
        transform: rotate(360deg);
        transition-delay: 0.2s;
      }
      .pressure__block {
        @include current-info-block;
        .pressure__text {
          color: var(--color-text);
          font-size: 11px;
        }
      }
    }
    .current__info-pressure:hover {
      transform: scale(1.04);
      transition-delay: 0.2s;
    }
    .current__info-visibility {
      opacity: 0;
      transform: translate(-25px, 10px);
      @include fadeInUp(0.3s);
      @include current-info;
      .visibility-logo {
        @include current-info-icon;
      }
      .visibility-logo:hover {
        transform: rotate(360deg);
        transition-delay: 0.2s;
      }
      .visibility__block {
        @include current-info-block;
        .visibility__text {
          color: var(--color-text);
          font-size: 11px;
        }
      }
    }
    .current__info-visibility:hover {
      transform: scale(1.04);
      transition-delay: 0.2s;
    }
  }
}