@mixin pulse($duration: 1.5s, $scale: 1.1) {
  @keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale($scale); }
    100% { transform: scale(1); }
  }

  animation: pulse $duration ease-in-out infinite;
}

@mixin spin($duration-spin: 6s) {
  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  animation: spin $duration-spin infinite linear;
}

@mixin rotate($duration-spin: 1s) {
  @keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  animation: rotate $duration-spin ease-in-out;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin fadeInUp($delay: 0s) {
  animation: fadeInUp 1s ease forwards;
  animation-delay: $delay;
}


@mixin fadeInUpCard(){
  @keyframes fadeInUpCard {
    from {
      opacity: 0;
      transform: translate(0, 30px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  animation: fadeInUpCard 1s ease forwards;
}